:root{
    --primary-color:#AF020B;
    --secondary-color:#fbf3f2;
    --link-color: #fce281;
    --text-color:#214B71;
    --text-shadow-color: 0 0 1px #741414,
                         0 0 3px #741414,
                         0 0 6px #410303;
    --text-hover-color: 0 0 1px #741414,
                        0 0 2px #741414,
                        0 0 4px #191716,
                        0 0 8px #0f0d0d;

}
body{
  margin: 0;
  padding: 0; 
}
.container-0{
    background-color:var(--primary-color);
    margin: -25px 0;
    padding: 10px 0 0;
}
h1{
    color: var(--primary-color);
    font-family: 'Caveat', cursive;
    font-size: 90px;
    font-weight: 400;
    margin: 80px 0;
    text-align: center; 
}
.container-0 h3,
h3{
    color: var(--secondary-color);
    font-family: 'Catamaran', sans-serif;
    font-size: 25px;
    padding: 0 0 10px;
    text-align: center;
    text-shadow: var(--text-shadow-color);
}
.container-2-1-col{
    box-shadow: inset 0 20px 20px -20px rgba(158, 193, 215, 0.4);
    display: grid;
    grid-template-columns: 2fr 1fr; 
    margin: 40px 0 100px; 
   
}
.road-image{
    max-width: 1400px;
}
h3{
    background-color: var(--primary-color);
    padding-top: 10px; 
}
.container-text{
    background-color:rgba(255, 255, 255, 0.3);
    margin: 60px 30px;
    padding: 20px 0;
}
.container-2-1-col h4{
    color: var(--primary-color);
    font-family: 'Caveat', cursive;
    font-size: 60px;
    font-weight: 400; 
    margin: 35px 0 ;
    text-align: center;           
}
.text{
    color:var(--text-color);
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    padding: 0 20px;  
    margin: 20px auto;          
}
strong{
    color: var(--primary-color);
    font-family: 'Caveat', cursive;
    font-size: 30px;
   margin-top: 20px;
    text-align: start;
}
h2{
    color: var(--primary-color); 
    font-family: 'Catamaran', sans-serif;
    font-size: 50px;
    letter-spacing: -1px;
    margin: 100px 0;
    text-align: center; 
}
em{
    font-family: 'Caveat', cursive;  
    font-size: 60px;
    font-weight: 400;
}
h5{
    color: var(--primary-color);
    font-family: 'Catamaran', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    margin: 0 100px;
    padding: 0 100px;
}
.text-city-introduction{
    background-color: var(--primary-color);
    color:var(--secondary-color);
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    margin: 0 0 -40px;
    padding: 45px;

}
.container-1-2-col{
    box-shadow: inset 0 20px 20px -20px rgba(158, 193, 215, 0.4);
    display: grid;
    grid-template-columns: 1fr 2fr; 
    margin: 40px 0 100px; 
}
.container-1-2-col h4{
    color: var(--primary-color);
    font-family: 'Caveat', cursive;
    font-size: 60px;
    font-weight: 400; 
    margin: 25px 0 ;
    text-align: center; 
}
hr{
    border: 1px solid var(--link-color);
    margin: 0 20px;
    opacity: 0.7;
}
h6{
    color: var(--primary-color);
    font-family: 'Catamaran', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 30px 0 0;
    text-align: center;
}
.container-1-2-col .london{
    color: var(--link-color);
    font-family: 'Caveat', cursive;
    font-size: 40px;

   margin: auto 10px;
    transition: all 200ms ease-in-out;
    text-decoration: none;
   
}
.container-1-2-col .london:hover{
   color: var(--primary-color);
}
.place-description{
    padding: 20px;
    margin-bottom: 0;
}
.img-place{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
    padding: 0;  
}
.favorite-picture {
    height: auto;
    max-width: 100%;
    margin: 2px auto ;
  }

  .container-4-col .embed{
    max-width: 100%;
}

.container-4-col h2{
    margin-bottom: 20px;
}
.container-4-col h5{
    text-align: center;
    margin: 50px;
}
.container-4-col h6{
    color: var(--secondary-color);
    font-size: 20px;
    margin-bottom: -16px;
    text-align: start;
    text-shadow: var(--text-shadow-color);
}


.container-4-col .card{
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
    
}
.container-4-col .card-text{
    color: var(--secondary-color);
    font-size: 16px;
}
.container-4-col a{
    color: var(--link-color);
    font-family: 'Caveat', cursive;
    font-size: 25px;
    transition: all 200ms ease-in-out;
    text-decoration: none;
}
.container-4-col a:hover{
    text-shadow: var(--text-shadow-color);
}
section h2{
    margin: 110px 0 40px;
}
.grid-gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
    width: 100%;
    margin: 70px auto;
}
img{
    width: 100%;
}
.travel{
    background-color: var(--primary-color);
    box-shadow: inset 0 -2px 7px 0px  rgba(252, 226, 129, 0.6);
    margin: 40px 0 0;
    padding: 14px;
    text-align: center;
}
 .travel-link {
     color: var(--secondary-color);
     font-family: 'Caveat', cursive;
     font-size: 30px;
     transition: all 200ms ease-in-out;
     text-decoration: none;  
} 
.travel:hover,
.travel-link:hover{
     text-shadow: var(--text-hover-color);
     transform: scale(1.2);    
}
footer{
    color: var(--secondary-color);
    padding: 100px 0 -100px;
    text-align: start;
}
.container-footer{
    background-color: var(--primary-color);
    padding:100px 0 0;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}
ul{
    list-style: none;
}
section a{
    color:var(--link-color);
    text-decoration: none;
    
}
section a:hover{
    text-shadow:var(--text-shadow-color);
    transform: scale(1.2); 
}
.more,
.about-this-website,
.about-me {
    font-size: 18px;
    letter-spacing: 1px;
    padding-left: 40px;
    text-align: start;
    text-shadow: var(--text-shadow-color);
}
.footer-text{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    padding: 0 40px;
    text-shadow: var(--text-shadow-color);
}
.source{
    padding: 30px 0 15px;
    text-align: center;
}
.coder {
    color: var(--link-color);
    text-decoration: none;   
}
.coder:hover{
   text-shadow: var(--text-shadow-color);
}


  @media(max-width: 900px){
    body{
        display: block;
    }
    h1{
        font-size: 40px;
        margin: 50px;
    }
    .container-2-1-col,
    .container-1-2-col{
        grid-template-columns: 1fr;
        margin: -10px 0;
        padding: 0;
    }
    .container-footer{
        padding: 20px 0;
    }
    .container-text{
        padding: 0;
    }
    .container-2-1-col h4,
    .container-1-2-col h4{
        font-size: 40px;
        margin: 0;
    }
    .text{
        font-size: 16px;
        line-height: 1.5;
        margin: 10px -10px;
        padding: 0;
    }
    .text-city-introduction{
        font-size: 16px;
        line-height: 1.5;
        margin: 10px 0;  
    }
    strong{
        font-size: 22px;
        margin-left: 15px;
    }
    .container-0 h3,
     h3{
    font-size: 18px;
    }
    h2,
    em{
        font-size: 30px;
        margin: 30px 0;
    }
    section h2{
        margin: 30px 0 0;
    }
    h5{
        font-size: 22px;
        padding: 12px 0;
       text-align: center;
       margin: -10px 0;
    }
    .container-1-2-col .london{
        font-size: 30px;
        padding-left: 85px; 
    }
    .travel-link{
        font-size: 25px;
    }
    .travel:hover,
    .travel-link:hover{
        transform: none;
    }
    .container-4-col .card{
        grid-template-columns: 1fr;
        margin: 10px;
    }
    .container-4-col img{
        display: none;
    }
    .img-place{
        grid-template-columns: 1fr;
    }
    .container-4-col h5{
        margin: 20px;
    }
    .container-4-col h6{
        font-size: 14px;
    }
    .container-4-col .card-text{
        font-size: 15px;
    }
    .container-4-col .container-place{
        box-shadow: inset 0 -4px 9px 0px  rgba(116, 20, 20);
    margin-top: -4px;
    }
    .grid-gallery{
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin: 60px auto;
        width: 94%;
    }
    .grid{
        grid-template-columns: 1fr;
    }
    ul{
       margin-top: -20px;
    }
    .more,
    .about-this-website,
    .about-me{
        font-size: 14px;
        margin: 8px 0; 
    }
    .footer-text{
        color: white;
        font-size: 13px;
        line-height: 1.2;
        margin: -20px 0 20px;  
    }
  }
