body{
    background-color: #032539;
   
}

h1{
    color: #f3d360;
    font-family: 'Catamaran', sans-serif;
    font-size: 80px;
    margin: -20px;
    text-align: center;
}
h2{
    color: #fbf3f2;
    font-family: 'Caveat', cursive;
    font-size: 45px;
    font-weight: 200;
    margin: 50px 0 -30px;
    text-align: center;
}
.container-text{
    margin: 50px;
}
p{
    color: #fbf3f2;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    margin:50px
}